@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300..700&display=swap");
@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Nunito", "monospace";

  --color-primary-dark: #11111d;
  --color-secondary-dark: #1c1c26;
  --color-primary-light: #e9e9e9;
  --color-secondary-light: #f5f5f5;
  --color-accent-1: #00a2e9;
  --color-accent-2: #0083c9;
  --color-accent-3: #fc9c1f;
  --color-accent-4: #ff6600;

  --container-10xl: 100rem;
}
:root {
  --ui-container: var(--container-10xl);
  --ui-primary: var(--color-accent-4);
  --ui-text-muted: var(--color-secondary-dark);
}

.dark {
  --ui-primary: var(--color-accent-3);
  --ui-text-muted: var(--color-secondary-light);
}

body {
  font-family: var(--font-display);
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}
.dark body {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.vc-orange-hima {
  --vc-accent-50: #fff8f1;
  --vc-accent-100: #ffebd9;
  --vc-accent-200: #ffcfb1;
  --vc-accent-300: #fc9c1f;
  --vc-accent-400: #ff934a;
  --vc-accent-500: #ff6600;
  --vc-accent-600: #ff5c00;
  --vc-accent-700: #ff4e00;
  --vc-accent-800: #ff3f00;
  --vc-accent-900: #ff2f00;
}

/* app/assets/css/main.css */

/* --- Page Transitions --- */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Saat masuk: Mulai dari opacity 0, agak ke bawah, dan blur */
.page-enter-from {
  opacity: 0;
  transform: translateY(10px); /* Geser sedikit dari bawah */
  filter: blur(4px);
}

/* Saat keluar: Menuju opacity 0, agak ke atas, dan blur */
.page-leave-to {
  opacity: 0;
  transform: translateY(-10px); /* Geser sedikit ke atas */
  filter: blur(4px);
}

/* --- Layout Transitions (Misal dari Login ke Dashboard) --- */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s ease;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(8px); /* Blur lebih kuat untuk pergantian layout */
}
